body{
    font-family: 'Poppins', sans-serif;
}
h2{
     position: absolute;
     left: 8.33%;
}
h1{
    font-size: 50px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
     position: absolute;
    width: 1047px;
    height: 1662px;
    left: 196px;
    top: 935px;

}
.section-1{
    display: flex;
}
.div-1{
    display:flex;
}
.influencer{
    position: absolute;
    width: 582px;
    height: 270px;
    left: 120px;
    top: 285px;
}
.link-button{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.fa-arrow{
   padding-left: 15px;
}
.div-2{
    position: absolute;
    width: 440px;
    height: 414px;
    left: 835px;
    top: 211px;

}
.logos{
    display: flex;
    position: absolute;
    width: 1110px;
    height: 110px;
    left: 165px;
    top: 725px;
}
.logos-size{
    padding: 15px;
    margin: 15px;
}
.section-title{
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
    color: #E02C6D;
}
